<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xumerz.dajisoft.zipsproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/zipslogo"
        android:label="ZipsProject"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Select_Branches" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CustomerProfileActivity" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".CustomerPayment" />
        <activity android:name=".CustomerOrder"></activity>
    </application>

</manifest>
